.header{
    display: flex;
    justify-content: space-between;
    position:absolute;
    width: 100%;
    padding: 3rem 3rem;
    top: -5%;
}

.header-nav{
    display: flex;
    justify-content: center;
    width: 50%;
    align-self: center;
}

.header-nav a{
    margin-right: 2rem;
    color: #979797;
    font-size: 20px;
    text-decoration: none;
}


.header-nav a:focus{
    border-bottom: 3px solid #3D50FA;
}
.header-nav a:active{
    border-bottom: 3px solid #3D50FA;
}

.header-logo{
    color: #3D50FA;
}

.header-nav__auth{
    display: none;
}